<nav class="nav-extended">
  <div class="nav-wrapper">
    <a class="brand-logo">Logo</a>
    <a href="#mobile-demo" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/a/#/homepage/">Home</a></li>
      <li><a href="#" ng-click="logout()">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/a/#/homepage/">Home</a></li>
      <li><a href="#" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</nav>