<!DOCTYPE html>
<html ng-app="eLabApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Task Manager Home</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/angular-ui-notification.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">


</head>

<body>
  <div ng-view></div>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/materialize.min.js' %}"></script>
  <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
  <script src="{% static 'js/angular-route.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/angular-ui-notification.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/controllers.js' %}" type="text/javascript"></script>
</body>

</html>