<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/angular-ui-notification.min.css' %}" />
    <title>VA Login</title>
    <style>
    body {
        /*background: url(https://smartslider3.com/wp-content/uploads/slider100/parallax-background-effect.jpg);*/
        background-repeat: no-repeat;
    }

    .vertical-offset {
        padding-top: 40px;
    }

    .logo1 {
        position: fixed;
        right: 0;
        bottom: ;
        margin: 0;
        padding: 0;
        width: 40%;
    }

    .logo {
        width: 35%;
        height: 75px;
        margin: 0 auto 50px;
        display: block;
    }
    </style>
</head>

<body ng-app="loginApp" ng-controller="loginAppCtrl">
    <div class="container-fluid">
        <div class="row vertical-offset">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <img class="logo" src="{% static 'images/logo.png' %}" />
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please sign in</h3>
                        </div>
                        <div class="panel-body">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Username"  type="text" ng-model="username">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password"  type="password" ng-model="password">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                        </label>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" ng-click="login()">
                                </fieldset>
                        </div>
                    </div>
                    <img id="profile-img" class="logo" src="{% static 'images/logo1.png' %}" />
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular-ui-notification.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
</body>

</html>