{% include 'header.html' %} {% verbatim %}
<style>
    .fc-center h2 {
        font-size: 25px;
    }
    
</style>
<div class="container-fluid" style="margin-top: 10px;">
  <div class="btn-group" align="center" style="margin-bottom: 20px;">
    <label class="btn btn-primary" ng-click="change_toggle(true)" uib-btn-checkbox>List</label>
    <label class="btn btn-primary" ng-click="change_toggle(false)" uib-btn-checkbox>Calender</label>
  </div>
  <div class="row">
    <div class="col s12" ng-show="!toggle">
      <div id="calendar" style="margin-bottom: 20px;"></div>
    </div>
    <div class="col s12" ng-show="toggle">
      <div>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="/static/images/logo1.png" alt="" class="circle">
            <span class="title">Title</span>
            <p>First Line
              <br> Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line
              <br> Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line
              <br> Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line
              <br> Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn verticle">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
</div>
<!-- {% endverbatim %} {% include 'footer.html' %} -->